body {
  margin: 0;
  padding: 0;
  
  color: #fff;
  background-color: #18111D;
  font-family: 'Montserrat', sans-serif;
}

.container {
  width: 100%;
  height: 100vh;

  overflow-y: scroll;
}

.container__box {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 100vh;

  overflow-y: scroll;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;

  border-collapse: collapse;
  padding: 25px;
}

.content__text {
  max-width: 75%;
  text-align: center;
  color: rgba(255, 255, 255, .5); 
}

.content:not(:first-of-type) {
  border-left: 2px solid rgb(18, 13, 22);
}

.content__name {
  font-size: 100px;
}

.content__profession {
  font-size: 24px;
  color: rgba(255, 255, 255, .5); 
}

.socialMedia {
  position: absolute;
  display: flex;
  z-index: 2;

  margin: 20px;
  flex-direction: column;
}

.socialMedia__item {
  font-size: 24px;
  padding: 10px;
  color: rgba(255, 255, 255, .5); 
}

.about__button {
  position: absolute;
  bottom: 25px;
  left: 50%;
  transform: translate(-50%);

  width: 75px;
  height: 75px;

  border-radius: 45px;
  border: 1px solid #ffffff;
  background: rgba(0, 0, 0, 0);
  color: #ffffff;
}

.label {
  position: absolute;
  top: 0;
  left: 85px;

  padding-bottom: 10px;
  padding-right: 35px;
  margin: 20px;

  border-bottom: 1px solid #ffffff;
  font-size: 45px;
}

